:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --nav-color: #6d6d6d;
  --button-color: rgb(0, 123, 194);
  --buooton-hover: rgb(104, 148, 165);
  --input-color: rgb(236, 236, 236);
  --task-color: rgb(233, 233, 233);
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

.Navbar {
  width: 100%;
  height: 50px;
  background-color: var(--base-variant);
  color: var(--text-color);
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Navbar ul li {
  align-items: center;
  position: relative;
}

.Navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  transition: 0.3s ease;
}

.Navbar ul li a:hover {
  color: var(--accent-color);
}

.Navbar ul li a:hover ::before {
  width: 100%;
}

.Navbar,
.Navbar ul li a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkmode {
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --nav-color: #000000;
  --button-color: rgb(2, 11, 138);
  --buooton-hover: rgb(30, 36, 56);
  --input-color: white;
  --task-color: #1c1b24;
}

#name-change {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  position: fixed;
  right: 85px;
  top: 20px;
}
.cta-button {
  background-color: var(--accent-color);
}

.fa-plus-circle {
  margin-top: 0.3rem;
  margin-left: -8px;
}

form input {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  color: var(--text-color);
  border: 1px;
  border-color: #ffffff;
  background: var(--task-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 2rem;
}

form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  background: var(--input-color);
  border-radius: 2rem;
  color: white;
  background: rgb(0, 255, 34);
  cursor: pointer;
  transition: all 0.6 ease;
  margin-left: 0.5rem;
}

form button:hover {
  color: white;
  background: rgb(3, 78, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
}
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 1000px;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: var(--task-color);
  color: var(--text-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 2rem;
}

.todo li {
  flex: 100;
  list-style: none;
}

.trash-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.complete-btn {
  background: rgb(0, 140, 255);
}

.trash-btn {
  border-top-right-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
  background: rgb(255, 0, 0);
}

.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check-circle {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg {
  fill: var(--primary-color);
}
#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.Greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}
